

:root{
    --blue:#0188DF;
    --black:#354046;
    --red:#FC4F4F;
  }
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.register-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-top: 20px;
}

.register-container h2 {
    text-align: center;
    color: #333;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container label {
    margin-bottom: 8px;
    color: #555;
}

.register-container input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: auto;
}

.register-container button {
    background-color: var(--red);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.register-container button:hover {
    background-color:var(--black);
}

/* Add any additional styling as needed */
